/AllZipCodes.class
/SingleZipCode.class
/ZipOperations.class
/SingleStrategy.class
/AverageMarketValueStrategy.class
/AverageTotalLivableAreaStrategy.class
/TotalMarketValueStrategy.class
/MarketValueVaccinationStrategy.class
